@media (max-width: 1400px) {

  /** Footer **/

  p.footerText {

    font-size: 55px;
    line-height: 75px;

  }

}

@media (max-width: 1300px) {

  /** Footer **/

  img.phones {

    margin-left: 0px;

    width: 350px;

  }

  p.footerText {

    font-size: 45px;
  
  }

}

@media (max-width: 1100px) {

  /** Presentation **/

  div.boxPresentationText {

    width: 600px; 

  }

  h3.presentationText {

    font-size: 30px;
    line-height: 40px;

  }
  
  img.girl, img.whiteBall {

    width: 300px;
    
  }

  /** Reasons **/

  section.reasons { 

    padding-top: 150px;

  }

  div.reasonsBox {
  
    width: 90%;
  
  }

  h1.titleReasons {

    font-size: 55px;

  }

  h2.number {

    font-size: 30px;
  
  }

  p.textReason {

    font-size: 20px;

  }

   /** Footer **/

   footer {

    height: 500px;

   }

   img.phones {

    width: 300px;

  }

  p.footerText {

    font-size: 30px;
    line-height: 45px;

    width: 500px;
  
  }

  a.downloadButton {

    height: 60px;

  }

  a.downloadButton:first-child {

    margin-right: 30px;

  }

  span.localDownload {

    font-size: 20px;
  
  }

  img.iconDownload {

    width: 40px;
    height: 40px;

    margin-right: 15px;

  }

}

@media (max-width: 975px) {

  /** Footer **/

  p.downloadText {

    font-size: 12px;

  }

  span.localDownload {

    font-size: 15px;
  
  }

  img.iconDownload {

    width: 30px;
    height: 30px;

    margin-right: 10px;

  }

}

@media (max-width: 900px) {

  /** Presentation **/

  section.presentation {

    justify-content: center;

  }

  div.boxPresentationText {

    width: 400px; 

    margin-left: 15px;

  }

  img.girl {

    width: 200px;

    position: static; 
    
    left: 0px;
    top: 0px;
    
  }

  /** Reasons **/

  section.reasons { 

    padding-top: 50px;

  }

  h1.titleReasons {

    font-size: 45px;

  }

  /** Footer **/

  img.whiteBall {

    display: none;

  }
  
  div.footerContent {

    top: 0px;

  }

  p.footerText {

    font-size: 25px;
    line-height: 45px;

    width: 500px;
  
  }

}

@media (max-width: 800px) {

  /** Reasons **/

  div.reasonsBox {

    flex-direction: column;

    width: 70%;

  }

  div.secondReason {

    align-self: flex-end;
  
  }

  /** Footer **/

  div.footerContent {

    padding-top: 50px;

  }

  img.phones {

    margin-left: 25px;
  
    width: 225px;

  }

  p.footerText {

    font-size: 20px;

    width: 350px;

  }

}

@media (max-width: 600px) {

  /** Header **/

  header {

    display: flex;

    justify-content: center;
    align-items: center;

  }
  
  img.logo {
    
    margin-left: 0px;

  }

  /** Presentation **/

  section.presentation {

    height: 150px;

  }

  div.boxPresentationText {

    margin-left: 0px;

  }

  img.girl, img.phones {

    display: none;

  }
  
  h3.presentationText {

    font-size: 25px;
    line-height: 40px;

    text-align: center;

  }

  h3.firstText {

    display: none;

  }

  h3.secondText {

    display: block;

  }

  /** Reasons **/

  h1.titleReasons {

    font-size: 35px;

    text-align: center;

  }

  /** Footer **/

  footer {

    height: 400px;

  }

  p.footerText {

    text-align: center;

  }

  div.downloadButtons {
  
    justify-content: space-between;
  
  }

}

@media (max-width: 350px) {

  /** Header **/

  img.logo {
  
    width: 90px;
    height: 90px;
  
  }

  /** Presentation **/

  section.presentation {

    height: 100px;

  }

  h3.presentationText {

    font-size: 15px;
    line-height: 30px;

    padding: 0 5px;

  }

  /** Reasons **/

  div.secondReason {

    align-self: flex-start;
  
  }

  /** Footer **/

  div.downloadButtons {

    flex-direction: column;

    justify-content: center;
    align-items: center;
  
  }

  a.downloadButton {

    width: 125px;

    margin-bottom: 25px;

  }

  a.downloadButton:first-child {

    margin-right: 0px;

  }

  p.footerText {

    width: 250px

  }


}

@media (max-width: 350px) {

  /** Footer **/

  p.textReason {

    width: 200px;

  }

}