/* 

Developer:  Luiza Lissandra R. Rosa
30/10/2021

*/

* {

  --main-color:  #E85D75;
  --numbers-color: #66101F;
  --text-color1: #000;
  --text-color2: #fff;

  margin: 0;
  padding: 0;
  
}

html {
  
  background-color: var(--main-color);
  
  /* To disable horizontal scroll. */
  overflow-x: hidden;
  
}

/* To hide the scrollbar without disabling scrolling itself. */
::-webkit-scrollbar { 

  display: none; 

}

/** Header **/

img.logo {

  margin-left: 30px;

  width: 125px;
  height: 125px;

}

/** Presentation **/

section.presentation {

  display: flex;
  align-items: center;

  height: 275px;

}

div.boxPresentationText {

  width: 815px; 

}

h3.presentationText {

  color: var(--text-color2);

  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;

  height: 25%;

}

h3.secondText {

  display: none;

}

img.girl {

  position: relative; 
  left: -20px;
  top: 100px;

  width: 400px;
  
}

/** Reasons **/

section.reasons {

  background-color: #fff;
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  
  padding-top: 200px;
  padding-bottom: 100px;

}

h1.titleReasons {

  color: var(--main-color);
  
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;

  margin-bottom: 20px;

}

div.reasonsBox {

  display: flex;

  justify-content: space-around;

  width: 80%;

}

div.reason {

  margin-top: 50px;

  width: 240px;

}

div.reason:hover {

  transform: scale(1.05);

}

h2.number {

  color: var(--numbers-color);
  
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;

  padding-bottom: 15px;

}

p.textReason {

  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;

  color: var(--text-color1);

}

/** Footer **/

footer {

  height: 800px;

}

img.whiteBall {
  
  position: relative; 
  left: -20px;
  top: -200px;

  width: 400px;

  z-index: -1;

}

div.footerContent {

  display: flex;

  position: relative;

  top: -250px;

  align-items: center;
  justify-content: center;

  padding: 0px 50px;

}

p.footerText {

  width: 750px;

  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 75px;

  color: var(--text-color2);

}

div.downloadButtons {

  display: flex;

  margin-top: 60px;

}

a.downloadButton {

  display: flex;

  align-items: center;
  justify-content: center;

  text-decoration: none;

  height: 100px;
  
  padding: 10px 15px;
  
  font-family: "Nunito", sans-serif;
  
  border-radius: 8px;
  
  color: var(--text-color1);
  background-color: #fff;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));

}

a.downloadButton:first-child {

  margin-right: 100px;
  
}

a.downloadButton:hover {

  transform: scale(1.05);

}

img.iconDownload {

  width: 60px;
  height: 60px;

  margin-right: 20px;

}

img.phones {

  margin-left: 100px;

  width: 400px;

  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));

}

span.localDownload {

  font-weight: 700;
  font-size: 32px;

}